<div class="containerHeader">
    <mat-label class="header">
        <h2>Disclaimer</h2>
    </mat-label>
    <span fxFlex></span>
    <mat-icon class="close-button" (click)=closeForm()>cancel</mat-icon>

    <br>
</div>

<div class="containerDisclaimer">
Het gebruik van hydrometeorologische data is kosteloos, doch houdt de aanvaarding in door de gebruiker van de hiernavolgende voorwaarden:
<br><br>
De hydrometeorologische data worden naar best vermogen opgemeten en ter beschikking gesteld door Otary. 
Echter kan Otary geen enkele aansprakelijkheid accepteren voor het gebruik, de beschikbaarheid en de betrouwbaarheid van de aangereikte data. Deze data zijn louter informatief en het gebruik ervan is te allen tijd op eigen verantwoordelijkheid.
Otary kan in geen geval tegenover wie dan ook, op rechtstreekse of onrechtstreekse wijze aansprakelijk gesteld worden voor schade te wijten aan het gebruik van deze website of de weergegeven data.
<br><br>
Alle rechten van intellectuele eigendom gerelateerd aan de hydrometeorologische data en het elektronisch platform alsmede de ontwerpen, programmatuur, documentatie en alle andere materialen die werden ontwikkeld door Otary, dan wel die daaruit voortvloeien, berusten uitsluitend bij Otary.
<br><br>
<img src="assets/img/otary.jpg" class="disclaimer-images" width="180" height="140" (click)="ShowOtaryWebSite()" style="float:left">            
<img src="assets/img/engie-solutions.jpg" class="disclaimer-images" width="160" height="160" (click)="ShowEngieWebSite()" style="float:right">
<br><br>
</div>



