<div class="containerHeader">
    <mat-label class="header">
        <h2>Disclaimer</h2>
    </mat-label>
    <span fxFlex></span>
    <mat-icon class="close-button" (click)=closeForm()>cancel</mat-icon>

    <br>
</div>

<div class="containerDisclaimer">
The use of hydrometeorological data is free of charge, but implies the acceptance by the user of the following conditions:
<br><br>
The hydrometeorological data are measured to the best of our ability and made available by Iberdrola. 
However, Iberdrola cannot accept any liability for the use, availability and reliability of the data provided. 
These data are purely informative and their use is at your own responsibility at all times. 
Under no circumstances can Iberdrola be held liable to anyone, directly or indirectly, for damage resulting from the use of this website or the data displayed.
<br><br>
All intellectual property rights related to the hydrometeorological data and the electronic platform, as well as the designs, software, documentation and all other materials developed or arising from Iberdrola, rest exclusively with Iberdrola.
<br><br>
<img src="assets/img/iberdrola.png" class="disclaimer-images" width="180" height="140" (click)="ShowOtaryWebSite()" style="float:left">            
<img src="assets/img/engie-solutions.jpg" class="disclaimer-images" width="160" height="160" (click)="ShowEngieWebSite()" style="float:right">
<br><br>
</div>



