 
.menu-spacer {
    flex: 1 1 auto;
}

.toolbar{
    display: flex;
}

.toolbarContainer {
    display: flex;
}

.timeFrameButton{
    justify-content: center;
}

.settingsButton{
    justify-content: flex-end;
}

.transparent-background { background-color: rgba(255, 255, 255, 0.8); }

.mat-list-item{
    border-top: 1px solid;
}