<div [formGroup]="serieInfo_form" class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="containerHeader">
        <mat-label class="header"><h2>Frame configuration</h2></mat-label>
        <span fxFlex></span>
        <mat-icon class="close-button" (click)=closeForm()>cancel</mat-icon>
    </div>

    <mat-form-field class="field-full-width">
        <input type="text" placeholder="Title" aria-label="Title" matInput formControlName="Title">
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <mat-select name="type" placeholder="Type" aria-label="Type" [(value)]="selectedType.value" matInput
            formControlName="Type">
            <mat-option *ngFor="let type of panelTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input type="text" placeholder="Source data" aria-label="Source data" [matAutocomplete]="auto" matInput
            formControlName="LspiSelector">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.LongName()}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button (click)="addLspi()" [disabled]="!LspiSelectorHasValue()">Add source data</button>

    <mat-list>
        <mat-list-item *ngFor="let lspi of selectedLspis">
            <h3 mat-line>{{lspi.LongName()}}</h3>
            <p mat-line>
                <span> </span>
            </p>
            <mat-icon (click)="deleteLspi(lspi)" style="cursor: hand">delete</mat-icon>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button (click)="submit()" [disabled]="!serieInfo_form.valid || !lspiElementsSelected()">Confirm</button>
</div>