.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
  }

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.field-full-width {
    width: 100%;
  }

.containerHeader{
    display: flex;
}

.header{
    display: flex;
    justify-content: flex-left;
}

.close-button {
    display: flex;
    justify-content: flex-end;
}

mat-icon {
   cursor: pointer;
}  