<div [formGroup]="pageInfo_form" class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="containerHeader">
        <mat-label class="header">
            <h2>Configuratie pagina's</h2>
        </mat-label>
        <span fxFlex></span>
        <mat-icon class="close-button" (click)=closeForm()>cancel</mat-icon>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

            <div class="example-box" *ngFor="let page of pages;let index = index;" cdkDrag>
                <!--<div class="header">{{ page.name }}</div>-->
                <mat-form-field class="field-full-width" floatLabel="never">
                    <input matInput [value]="pages[index].name" (input)="updatePageName(pages[index], $event.target.value)" formControlName="EditPageName">
                </mat-form-field>

                <span fxFlex></span>
                <mat-icon class="button" (click)=deletePage(page)>cancel</mat-icon>
            </div>

    </div>

    <br>

    <mat-form-field class="field-full-width">
        <input type="text" placeholder="Pagina naam" aria-label="Pagina naam" matInput formControlName="NewPageName">
    </mat-form-field>

    <button mat-raised-button (click)="addNewPage()" [disabled]="!pageInfo_form.valid||pageExist()">Voeg pagina toe</button>

    <div style="margin: 10px 0 10px 0;"></div>

    <button mat-raised-button (click)="addDefaultPagesToCurrentUser()">Voeg default pagina's toe</button>

    <div style="margin: 10px 0 10px 0;"></div>

    <button mat-raised-button (click)="submit()">Bevestig</button>
</div>