<div class="table-container">
    <!--div *ngIf="showData()"-->
        <!--div class="valueView">TEST1</div-->

        <table mat-table [dataSource]="myChartData" class="table-item">
            <ng-container [matColumnDef]="column" *ngFor="let column of myColumnNames">
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">{{ showDataValue(element[column]) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="myColumnNames; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: myColumnNames;"></tr>
        </table>

        <!--div class="spacer">SPACER</div-->

        <!--div class="valueView">TEST2</div--> 
    <!--/div-->
    <!--div *ngIf="!showData()">Configureer een data bron</div-->

</div>

